body {
  margin: 0;
  background-image: url("../images/background.png");
  background-size: cover;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "side content"
    "footer footer";
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: 1fr 2fr;
}

a {
  color: #000;
}

.sidebar {
  grid-area: side;
  display: grid;
  grid-template-rows: repeat(4, 25%);
  grid-template-columns: repeat(2, 50%);
}
.planetlink {
  width: calc(1 / 6vw);
  max-height: 20vh;
  height: auto;
  align-self: center;
  justify-self: center;
}

.planetlink img {
  width: 100%;
  height: 100%;
  max-height: 18vh;
}

.planetlink:hover {
  transform: rotate(20deg) scale(1.2);
  transition: 0.3s;
}

aside {
  background-color: tomato;
}

.footer {
  background-color: salmon;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 5fr 7fr;
  background-color: rgb(0, 119, 255);
  text-align: center;
  align-items: center;
}

.planet {
  width: 15vmax;
  grid-area: p;
}

.text {
  width: 90%;
  height: 80%;
  background-color: #fff;
  border: rgb(0, 119, 255) 3px solid;
  box-sizing: border-box;
  border-radius: 10px;
  align-self: end;
  grid-area: t;
  display: grid;
  align-content: center;
  justify-content: center;
}

/* .text::before {
  content: "";
  display: block;
  position: relative;
  z-index: -999;
  top: calc(100% - 3vmax);
  left: -3vmax;
  background-color: #b0b;
  transform: rotate(45deg);
  height: 0px;
  width: 0px;

  border-top: 6vmax rgb(0, 119, 255) solid;
  border-right: 3vmax solid transparent;
  border-left: 3vmax solid transparent;
} */

ul {
  list-style: none;
  margin: 20px;
  padding: 0;
}

li {
  font-size: 2rem;
}

li::before {
  content: "";
  display: inline-block;
  height: 25px;
  width: 25px;
  background-size: contain;
  margin-right: 5px;
}

/* .text::after {
  content: "";
  display: block;
  position: relative;
  z-index: -999;
  top: calc(100% - (19.75vmax));
  left: -2.6vmax;
  background-color: #b0b;
  transform: rotate(45deg);
  height: 0px;
  width: 0px;

  border-top: calc(6vmax - 8px) #fff solid;
  border-right: calc(3vmax - 4px) solid transparent;
  border-left: calc(3vmax - 4px) solid transparent;
} */

.container {
  grid-area: content;
  grid-template-areas: "e t" "p e2";
  display: grid;
  grid-template-rows: auto 15vmax;
  grid-template-columns: 15vmax auto;
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 5fr 7fr;
  text-align: center;
  font-size: 1.5rem;
}

.footer p {
  margin: 0;
  align-self: center;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin: 0;
}

@media screen and (max-width: 530px) {
  .footer {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 385px) {
  h1 {
    font-size: 1.25rem;
  }
}

@media screen and (max-height: 635px) {
  .footer {
    grid-template-columns: 1fr;
    font-size: 1rem;
  }
  h1 {
    font-size: 1.25rem;
  }
  li {
    font-size: 1rem;
  }
}

@media screen and (max-height: 420px) {
  .footer {
    font-size: 0.7rem;
  }
}
