:root {
  --size: 180vw;
  --offset: 15vw;
  --planet-size: 7vw;
  --offset-half: calc(var(--offset) / 2);
}

body {
  margin: 0;
  overflow: hidden;
  background-size: cover;
  background-image: url("images/background.png");
}

img {
  max-width: 100%;
}

.ring {
  /* background-color: #b0b; */
  border: 3px solid rgb(0, 119, 255);
  border-radius: 50%;
  box-sizing: border-box;
  grid-gap: 0px;

  display: grid;
  grid-template-areas: "o s p";
  grid-template-columns: var(--offset-half) 1fr var(--offset-half);
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  grid-area: s;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.sun {
  justify-self: center;
  width: 100%;
  grid-area: s;
}

#container
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1)
  > div:nth-child(1)
  > a:nth-child(2) {
  z-index: 1;
}

a > img {
  width: 100%;
  height: 100%;
  /* max-width: 0; */
}

a {
  grid-area: p;
}

a:hover {
  transform: rotate(20deg) scale(1.2);
  transition: 0.3s;
}

a.planetlink {
  width: var(--planet-size);
  height: var(--planet-size);
  position: relative;
  left: calc(var(--offset-half) - var(--planet-size) / 2);
}

#saturnlink {
  max-width: none;
  aspect-ratio: 1.4;
  width: calc(var(--planet-size) * 2.5);
  height: var(--planet-size);
  left: calc(var(--offset-half) - var(--planet-size) * 2.5 / 2);
}

a.planetlink:hover {
  transform-origin: center center;
  z-index: 1;
}

#neptunering {
  position: absolute;
  width: var(--size);
  height: var(--size);
  left: calc(var(--size) / 2 * -1);
}
#uranusring {
  width: calc(var(--size) - var(--offset));
  height: calc(var(--size) - var(--offset));
}
#saturnring {
  width: calc(var(--size) - var(--offset) * 2);
  height: calc(var(--size) - var(--offset) * 2);
}
#jupiterring {
  width: calc(var(--size) - var(--offset) * 3);
  height: calc(var(--size) - var(--offset) * 3);
}
#marsring {
  width: calc(var(--size) - var(--offset) * 4);
  height: calc(var(--size) - var(--offset) * 4);
}
#earthring {
  width: calc(var(--size) - var(--offset) * 5);
  height: calc(var(--size) - var(--offset) * 5);
}
#venusring {
  width: calc(var(--size) - var(--offset) * 6);
  height: calc(var(--size) - var(--offset) * 6);
}
#mercuryring {
  width: calc(var(--size) - var(--offset) * 7);
  height: calc(var(--size) - var(--offset) * 7);
}

@media (max-width: 550px) {
  :root {
    --size: 180vh;
    --offset: 15vh;
    --offset-half: 7.5vh;
    --planet-size: 7.5vh;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
  #neptunering {
    top: calc(var(--size) * -0.5);
    left: 50%;
    transform: translateX(-50%);
    /* left: calc(var(--size) * (-1 / 3)); */
  }

  .ring {
    grid-template-areas:
      "o"
      "s"
      "p";
    grid-template-columns: 1fr;
    grid-template-rows: 7.5vh 1fr 7.5vh;
  }
  .sun {
    scale: 0.7;
  }
  #saturnlink {
    left: 0;
  }
  #mercurylink {
    top: calc(var(--planet-size) * -1.5);
  }

  a.planetlink {
    justify-self: center;
    position: relative;
    left: 0;
    right: 0;
    top: calc(var(--planet-size) * 0.5);
  }
}
